@import "tailwindcss";
@keyframes blink {                                                            
    0%, 100% { opacity: 1; }                                                    
    50% { opacity: 0; }                                                         
  }  

 textarea {                                                                    
    caret-color: #E34234;                                                       
    caret-shape: block;                                                       
  }
  
body {
    font-family: "Space Grotesk", sans-serif;
}